<div class="element-bg-img">
  <img src="assets/img/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <ng-container *ngIf="(items$ | async) as items">
    <div class="ele-strip">
      <hw-menu [items]="items | distinct" (typeChange)="selectType($event)"></hw-menu>
    </div>
    <div class="village">
      <h3 [textContent] = "selectedType | firstCap"></h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <hw-info-card *ngFor="let item of items | infoFilter: selectedType" [item]="item"></hw-info-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
