<div class="element-bg-img"><img src="assets/img/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="#">Hotel</a></li>
      <li><a href="#">Fishing</a></li>
      <li><a href="#">Tours</a></li>
      <li class="anc-bor"><a href="#">Weather</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <ng-container *ngIf="(items$ | async) as items; else loadinBlock">
          <hw-info-card *ngFor="let item of items" [item] = "item"></hw-info-card>
        </ng-container>
        <ng-template #loadinBlock>
          ...loading
        </ng-template>
      </div>
    </div>
  </div>
</div>